.ttsg_metabox > div{
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;

	input[type='file'] {
		display: none;
	}

	label{
		width: auto;
	}

	.ttsg_metabox-file {
		border: solid 1px rgba(0,0,0,0.2);
		width: 200px;
		height: 200px;
		background-size: cover;
		background-position: center;

		p {
			text-align: center;
			margin-top: 33px;
		}
	}

	.ttsg_metabox-file-cover{
		width: 100%;
		height: 200px;
	}
}
