.ttge-logo {
  display: inline;

  img {
    width: 100%;
    max-width: 60px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -4px;
  }
}

.learndash-groups-settings-tab {
  max-width: 960px;
}

.ttge-settings-container, .ttge-metabox-container {

  .ttge-setting-row-checkbox {

    label {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 28px;
    }

    label input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    div {
      width: 640px;
      left: 60px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    span:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + span {
      background-color: #2196F3;
    }

    input:focus + span {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + span:before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
    }
  }

  .ttge-setting-row {
    padding-bottom: 20px;
    display: flex;
    max-width: 700px;
    justify-content: space-between;
  }

  .ttge-default-group-images, .ttge-group-images{
    margin-bottom:30px;
  }

  .ttge-image-preview-wrapper{
    border:solid 1px rgba(0, 0, 0, 0.2);
    position: relative;
    &.type-picture{
      height:200px;
      width: 200px;
    }
    &.type-banner{
      height:250px;
      width: 100%;
    }

    .ttge-buttons-wrapper{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .button-secondary{
      margin:10px;
    }

    .ttge-remove-file-image{
      display: none;
      &.has-image{
        display: inline-block;
      }
    }

    .ttge-upload-file-image{
      display: inline-block;
      &.has-image{
        display: none;
      }
    }
  }
}
